/* charset */
@charset "utf-8";

/* foundation */
@import 'foundation/color';
@import 'foundation/zIndex';

/* base */
@import 'base/font';
@import 'base/reset';
@import 'base/root';

/* global styling */
body {
	font-family: 'NanumGeumEunBoHwa';
	background-color: var(--color-beige);
}

a {
	color: var(--color-black);
	text-decoration: none;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	appearance: none;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}
