@charset "utf-8";

@import url('./font.scss');
@import url('./reset.scss');

:root {
	--red: #ea7664;
	--black: #544f4f;
	--brown: #89757a;
	--beige: #f6f5f5;
}

body {
	font-family: 'NanumGeumEunBoHwa';
}

a {
	color: var(--black);
	text-decoration: none;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	appearance: none;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}
