.container {
	margin-bottom: 6px;
}

.wrapper {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		background-color: var(--color-beige);
		border-radius: 6px;
		padding: 10px;
	}

	&__content {
		display: none;

		&--open {
			display: block;
		}
	}
}

.icon {
	&__arrow-down {
		width: 20px;
		height: 20px;
		transition: transform 200ms linear;

		&--open {
			transform: rotate(-180deg);
		}
	}
}
