@font-face {
	font-family: 'NanumGeumEunBoHwa';
	font-display: auto;
	src:
		url('../../assets/fonts/NanumGeumEunBoHwa.woff2') format('woff2'),
		url('../../assets/fonts/NanumGeumEunBoHwa.woff') format('woff'),
		url('../../assets/fonts/NanumGeumEunBoHwa.ttf') format('truetype');
}
